/* Table base */
.tl-table {
  border-collapse: collapse;
  border: 1px solid rgb(192, 192, 192);
  min-width: 100px;
}

.body-container {
  position: relative;
}

/* Header */
.tl-th {
  height: 28px;
  border-color: rgb(221, 221, 221);
  font-size: 14px;
  text-align: center;
}

.tl-th--sticky {
  display: flex;
  align-items: flex-end;
}

.tl-th__select-all {
  display: flex;
  align-items: center;
  padding: 8px;
}

.tl-th__label { margin-left: 6px; }

/* Row */
.tl-row { }
.tl-row--hover .tl-td { 

 }

/* Cell */
.tl-td {
  height: 28px;
  border-color: rgb(221, 221, 221);
  text-align: center;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
  padding: 0 10px;
  white-space: nowrap;
}

.tl-td__content { display: flex; align-items: center; }

/* Checkbox */
.tl-checkbox {
  margin: 0 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
}
