.links-rectangle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 4px;

  /* TODO: primary/blue-gray-80 */
  border: 1px solid #83a1c2;
  border-radius: 3px;

  z-index: 1000;
  box-sizing: border-box;
}
