.table-cell {
  display: table-cell;
  width: 300px;
  box-sizing: border-box;
  /* transition: height 0.3s ease-in-out; */
}

.table-cell-link {
  position: absolute;
  top: 2px;
  border-radius: 3px; 
  font-size: 12px;  
  font-weight: 400;
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
}

.table-cell-label {
  padding-left: 6px;
  padding-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.table-cell-attribute {
  position: relative;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  /* opacity: 1; */
}

.table-cell-attribute-container {
  height: 28px;
  background-color: #fafafa;
  border-bottom: 1px solid;
  box-sizing: border-box;
}