.tl-row-holding {
  height: 28px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  box-sizing: border-box;
}

.tl-row {
  height: 27px;
  transition: height 0.25s ease, opacity 0.5s ease;
  /* border-top: 1px solid orange; */
  box-sizing: border-box;
}

.tl-row.collapsed {
  height: 0;
}

.tl-cell-pair__secondary {
  font-weight: 600;
}

.tl-cell-date {
  border-left: 1px solid #ddd;
  padding-left: 6px;
}