.scrollable-section {
  flex: 1;
}

.scrollable-header {
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100
}

.header-cell {
  width: 300px;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: bold;
  border-right: 1px solid;
}

.table-content {
  display: table;
  border-collapse: collapse;
}

.table-row {
  position: relative;
  display: table-row;
  transition: height 0.0.3s ease-in-out;
  border-top: 1px solid;
  overflow: hidden;
}