.scrollable-section {
  flex: 1;
}

.scrollable-header {
  display: flex;
  position: sticky;
  top: 30px;
  z-index: 98;
}

.header-cell {
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: 600;
  background: #fff;
  align-items:flex-end;
  font-size: 11px;
  font-weight: 600;
  border-right: 1px solid;
  height: 40px;
}

.table-content {
  display: table;
  border-collapse: collapse;
}

.table-row {
  position: relative;
  display: table-row;
  transition: height 0.0.3s ease-in-out;
  border-top: 1px solid;
  overflow: hidden;
}

.table-row:first-child {
  border-top: 0;
}
