.buttons {
  cursor: pointer;
  border: none;
  padding: 16px;
  border-radius: 4px;
  min-width: 100px;
}



.confirm {
  background-color: #add8e6;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1.25rem;
  gap: 1rem;
}

.main-content, .header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-content {
  align-items: center;
}

.text {
  /* font-size: 0.8rem; */
}