.expand-button {
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 2px; */
  height: 23px;
  width: 12px;
  border: none;
  background-color: inherit;
  padding: 2px;
}

.collapse-cell-container {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.cell-parent, .cell-child {
  /* font-size: 12px; */
}

.cell-parent {
  /* font-weight: 700; */
}
