.link-box {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: rgb(204, 227, 255);
  border: 1px solid #007bff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  cursor: default;
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1000;
  box-sizing: border-box;

  /* opacity: compareLink && compareLink?.rowIndex !== rowIndex ? 0.2 : 1;
  transition: `top ${COMPARE_TRANSITION_TIME} ease-in-out`; */
}

.link-box-line {
  height: 4px;
  width: 100%;
  margin-bottom: 1px;
}