.table-container {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid;
  box-sizing: border-box;
  position: relative;
}

.history-text {
  position: absolute; 
  z-index: 1000;
  top: 10px;
  font-size: 11px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 400;
}