.yearLinesWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  z-index: 50;
}

.yearLineContainer {
  position: absolute;
  top: 0;
  height: var(--year-line-height);
  width: 1px;
  pointer-events: none;
  background-color: var(--year-line-color);
  border-left: 1px solid var(--year-line-color);
}
