.years-row {
  border: 1px solid;
  text-align: left;
  position: relative;

  .years-row-text {
    margin-left: 10px;
  }

  /* .years-row-rectangle {
    position: absolute;
    pointer-events: none;
    z-index: 1000;
  } */
}

