.expand-button {
  margint-left: 8px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 2px; */
  height: 28px;
  width: 12px;
  border: none;
  background-color: inherit;
  padding: 2px;
}

.collapse-cell-container {
  display: flex;
  align-items: center;
}

.cell-parent, .cell-child {
  font-size: 12px;
}

.cell-parent {
  font-weight: 700;
}
