.fixed-column-table {
  display: table;
  width: 100%;
}

.fixed-column-cell {
  display: table-cell;
  border-bottom: 1px solid;
  box-sizing: border-box;
  transition: height 0.3s ease-in-out;
}


.fixed-column-row {
  display: table-row;
  font-size: 12px;
}

.fixed-column-row,
.fixed-column-row * {
  font-weight: 400 !important;
}

.attribute-enabled {
  /* TODO: text/primary */
  color: #333;
}

.attribute-disabled {
  /* TODO: grayscale/light-gray/919191 */
  color: #919191;
}