.select-button {
  width: 100%;
  padding: 12px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #d4d4d8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  z-index: 10;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.option {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: flex-start;
  padding-bottom: 8px;
  /* font-size: 0.85rem; */
}
