.arrow-icon {
  margin-left: 8px;
  cursor: pointer;
  display: inline-block;
  transition: height 0.3s ease-in-out;
}

.fixed-column-header {
  display: flex;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  font-weight: bold;


  height: 30px; 
  background-color: white; 
  position: sticky; 
  top: 70px; 
  z-index: 97; 
}

.fixed-column {
  width: 300px;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
}

.fixed-column-content {
  flex: 1;
}

.fixed-column-content::-webkit-scrollbar {
  display: none;
}

.fixed-column-cell {
  display: block;
}

.fixed-column-cell-content-inception {
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.expandable-content {
  display: flex;
  flex-direction: column;
}

.attribute-cell {
  background-color: transparent;
}

.content {
  border: none;
  padding-left: 0;
}

.cell-inception {
  border: none;
}

.expandable-content-item {
  display: flex;
  align-items: center;
  margin-left: 8px;
  font-size: 12px;
}
