.links-rectangle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 4px;
  border: 2px solid transparent;
  z-index: 1000;
  box-sizing: border-box;
}
