.table-cell {
  display: flex;
  text-align: left;
  padding-left: 6px;
  /* font-size: 12px; */
}

.tl-filter-cell {
  /* border: 1px solid #ddd; */
}

.tl-filter-row {
  height: 31px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;

  &:first-child {
    border-right: 1px solid #ddd;
  }
}