.body-container {
  position: relative;
}

.body-row {
  border-top: 1px solid;
}

.body-cell {
  border-left: 1px solid;
  border-right: 1px solid;
}

.body-rectangle {
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}