.cell-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 24px; */
  /* height: 100%; */
  width: 100%;
  /* border-top: 1px solid; */
  border-left: 1px solid;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  z-index: 1;
}